<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k1</key>
	<array>
		<dict>
			<key>pinyin</key>
			<string>qīng</string>
			<key>sound</key>
			<string>qing1.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>青</string>
				<string>绿</string>
				<string>红</string>
				<string>蓝</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>xīng</string>
			<key>sound</key>
			<string>xing1.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>words</key>
			<array>
				<string>天</string>
				<string>云</string>
				<string>太</string>
				<string>星</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>yǔ</string>
			<key>sound</key>
			<string>yu3.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>words</key>
			<array>
				<string>雪</string>
				<string>雨</string>
				<string>日</string>
				<string>风</string>
			</array>
		</dict>
	</array>
	<key>k2</key>
	<array>
		<dict>
			<key>pinyin</key>
			<string>niǎo</string>
			<key>sound</key>
			<string>niao3.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>鸟</string>
				<string>鸡</string>
				<string>虫</string>
				<string>鸭</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>bāng</string>
			<key>sound</key>
			<string>bang1.mp3</string>
			<key>answer</key>
			<integer>3</integer>
			<key>words</key>
			<array>
				<string>具</string>
				<string>文</string>
				<string>帮</string>
				<string>好</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>yú</string>
			<key>sound</key>
			<string>yu2.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>words</key>
			<array>
				<string>鸟</string>
				<string>鱼</string>
				<string>清</string>
				<string>写</string>
			</array>
		</dict>
	</array>
	<key>p1</key>
	<array>
		<dict>
			<key>pinyin</key>
			<string>wán</string>
			<key>sound</key>
			<string>wan2.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>words</key>
			<array>
				<string>游</string>
				<string>玩</string>
				<string>乐</string>
				<string>阳</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>xiǎng</string>
			<key>sound</key>
			<string>xiang3.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>想</string>
				<string>说</string>
				<string>写</string>
				<string>读</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>yóu</string>
			<key>sound</key>
			<string>you2.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>words</key>
			<array>
				<string>戏</string>
				<string>果</string>
				<string>笔</string>
				<string>游</string>
			</array>
		</dict>
	</array>
	<key>p2</key>
	<array>
		<dict>
			<key>pinyin</key>
			<string>nóng</string>
			<key>sound</key>
			<string>nong2.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>words</key>
			<array>
				<string>夫</string>
				<string>农</string>
				<string>护</string>
				<string>常</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>jué</string>
			<key>sound</key>
			<string>jue2.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>觉</string>
				<string>常</string>
				<string>掉</string>
				<string>答</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>pō</string>
			<key>sound</key>
			<string>po1.mp3</string>
			<key>answer</key>
			<integer>3</integer>
			<key>words</key>
			<array>
				<string>皮</string>
				<string>波</string>
				<string>坡</string>
				<string>加</string>
			</array>
		</dict>
	</array>
	<key>hard</key>
	<array>
		<dict>
			<key>pinyin</key>
			<string>tàn</string>
			<key>sound</key>
			<string>tan4.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>探</string>
				<string>险</string>
				<string>深</string>
				<string>难</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>yǒng</string>
			<key>sound</key>
			<string>yong3.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>words</key>
			<array>
				<string>游</string>
				<string>泳</string>
				<string>戏</string>
				<string>耍</string>
			</array>
		</dict>
		<dict>
			<key>pinyin</key>
			<string>dì</string>
			<key>sound</key>
			<string>di4.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>words</key>
			<array>
				<string>第</string>
				<string>应</string>
				<string>交</string>
				<string>答</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
