<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hard</key>
	<array>
		<dict>
			<key>question</key>
			<string>扌</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>仓</string>
					<key>word</key>
					<string>抢</string>
					<key>sound</key>
					<string>qiang3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>罢</string>
					<key>word</key>
					<string>摆</string>
					<key>sound</key>
					<string>bai3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>比</string>
					<key>word</key>
					<string>批</string>
					<key>sound</key>
					<string>pi1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>屋</string>
					<key>word</key>
					<string>握</string>
					<key>sound</key>
					<string>wo4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>香</string>
					<key>word</key>
					<string>香</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>山</string>
					<key>word</key>
					<string>山</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>忄</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>山</string>
					<key>word</key>
					<string>山</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>俞</string>
					<key>word</key>
					<string>愉</string>
					<key>sound</key>
					<string>yu2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>夬</string>
					<key>word</key>
					<string>快</string>
					<key>sound</key>
					<string>kuai4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>肖</string>
					<key>word</key>
					<string>悄</string>
					<key>sound</key>
					<string>qiao1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>虫</string>
					<key>word</key>
					<string>虫</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>及</string>
					<key>word</key>
					<string>及</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>亻</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>氐</string>
					<key>word</key>
					<string>低</string>
					<key>sound</key>
					<string>di1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>子</string>
					<key>word</key>
					<string>仔</string>
					<key>sound</key>
					<string>zi3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>寸</string>
					<key>word</key>
					<string>付</string>
					<key>sound</key>
					<string>fu4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>吏</string>
					<key>word</key>
					<string>使</string>
					<key>sound</key>
					<string>shi3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>土</string>
					<key>word</key>
					<string>土</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>虫</string>
					<key>word</key>
					<string>虫</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>k1</key>
	<array>
		<dict>
			<key>question</key>
			<string>女</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>马</string>
					<key>word</key>
					<string>妈</string>
					<key>sound</key>
					<string>ma1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>未</string>
					<key>word</key>
					<string>妹</string>
					<key>sound</key>
					<string>mei4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>且</string>
					<key>word</key>
					<string>姐</string>
					<key>sound</key>
					<string>jie3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>头</string>
					<key>word</key>
					<string>头</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>女</string>
					<key>word</key>
					<string>女</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>书</string>
					<key>word</key>
					<string>书</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>亻</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>也</string>
					<key>word</key>
					<string>他</string>
					<key>sound</key>
					<string>ta1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>尔</string>
					<key>word</key>
					<string>你</string>
					<key>sound</key>
					<string>ni3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>头</string>
					<key>word</key>
					<string>头</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>女</string>
					<key>word</key>
					<string>女</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>书</string>
					<key>word</key>
					<string>书</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>土</string>
					<key>word</key>
					<string>土</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>讠</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>卖</string>
					<key>word</key>
					<string>读</string>
					<key>sound</key>
					<string>du2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>认</string>
					<key>sound</key>
					<string>ren4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>果</string>
					<key>word</key>
					<string>课</string>
					<key>sound</key>
					<string>ke4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>头</string>
					<key>word</key>
					<string>头</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>土</string>
					<key>word</key>
					<string>土</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>天</string>
					<key>word</key>
					<string>天</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>k2</key>
	<array>
		<dict>
			<key>question</key>
			<string>氵</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>青</string>
					<key>word</key>
					<string>清</string>
					<key>sound</key>
					<string>qing1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>可</string>
					<key>word</key>
					<string>河</string>
					<key>sound</key>
					<string>he2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>每</string>
					<key>word</key>
					<string>海</string>
					<key>sound</key>
					<string>hai3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>小</string>
					<key>word</key>
					<string>小</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>大</string>
					<key>word</key>
					<string>大</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>人</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>犭</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>苗</string>
					<key>word</key>
					<string>猫</string>
					<key>sound</key>
					<string>mao1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>句</string>
					<key>word</key>
					<string>狗</string>
					<key>sound</key>
					<string>gou3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>者</string>
					<key>word</key>
					<string>猪</string>
					<key>sound</key>
					<string>zhu1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>师</string>
					<key>word</key>
					<string>狮</string>
					<key>sound</key>
					<string>shi1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>人</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>天</string>
					<key>word</key>
					<string>天</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>子</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>亥</string>
					<key>word</key>
					<string>孩</string>
					<key>sound</key>
					<string>hai2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>人</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>皮</string>
					<key>word</key>
					<string>皮</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>定</string>
					<key>word</key>
					<string>定</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>子</string>
					<key>word</key>
					<string>子</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>身</string>
					<key>word</key>
					<string>身</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>p1</key>
	<array>
		<dict>
			<key>question</key>
			<string>目</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>艮</string>
					<key>word</key>
					<string>眼</string>
					<key>sound</key>
					<string>yan3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>青</string>
					<key>word</key>
					<string>睛</string>
					<key>sound</key>
					<string>jing1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>小</string>
					<key>word</key>
					<string>小</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>大</string>
					<key>word</key>
					<string>大</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>人</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>子</string>
					<key>word</key>
					<string>子</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>扌</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>丁</string>
					<key>word</key>
					<string>打</string>
					<key>sound</key>
					<string>da3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>合</string>
					<key>word</key>
					<string>拾</string>
					<key>sound</key>
					<string>shi2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>包</string>
					<key>word</key>
					<string>抱</string>
					<key>sound</key>
					<string>bao4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>非</string>
					<key>word</key>
					<string>排</string>
					<key>sound</key>
					<string>pai2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>书</string>
					<key>word</key>
					<string>书</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>自</string>
					<key>word</key>
					<string>自</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>氵</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>青</string>
					<key>word</key>
					<string>清</string>
					<key>sound</key>
					<string>qing1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>尼</string>
					<key>word</key>
					<string>泥</string>
					<key>sound</key>
					<string>ni2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>爸</string>
					<key>word</key>
					<string>爸</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>书</string>
					<key>word</key>
					<string>书</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>自</string>
					<key>word</key>
					<string>自</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>土</string>
					<key>word</key>
					<string>土</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>p2</key>
	<array>
		<dict>
			<key>question</key>
			<string>饣</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>包</string>
					<key>word</key>
					<string>饱</string>
					<key>sound</key>
					<string>bao3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>反</string>
					<key>word</key>
					<string>饭</string>
					<key>sound</key>
					<string>fan4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>勿</string>
					<key>word</key>
					<string>勿</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>土</string>
					<key>word</key>
					<string>土</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>店</string>
					<key>word</key>
					<string>店</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>命</string>
					<key>word</key>
					<string>命</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>氵</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>曷</string>
					<key>word</key>
					<string>渴</string>
					<key>sound</key>
					<string>ke3.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>吉</string>
					<key>word</key>
					<string>洁</string>
					<key>sound</key>
					<string>jie2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>勾</string>
					<key>word</key>
					<string>沟</string>
					<key>sound</key>
					<string>gou1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>难</string>
					<key>word</key>
					<string>滩</string>
					<key>sound</key>
					<string>tan1.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>同</string>
					<key>word</key>
					<string>洞</string>
					<key>sound</key>
					<string>dong4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>我</string>
					<key>word</key>
					<string>我</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>冫</string>
			<key>optionCount</key>
			<integer>6</integer>
			<key>options</key>
			<array>
				<dict>
					<key>option</key>
					<string>今</string>
					<key>word</key>
					<string>今</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>我</string>
					<key>word</key>
					<string>我</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>天</string>
					<key>word</key>
					<string>天</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
				<dict>
					<key>option</key>
					<string>欠</string>
					<key>word</key>
					<string>次</string>
					<key>sound</key>
					<string>ci4.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>京</string>
					<key>word</key>
					<string>凉</string>
					<key>sound</key>
					<string>liang2.mp3</string>
					<key>isAnswer</key>
					<true/>
				</dict>
				<dict>
					<key>option</key>
					<string>人</string>
					<key>word</key>
					<string>人</string>
					<key>sound</key>
					<string></string>
					<key>isAnswer</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
