<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>k1</key>
	<array>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>jīn</string>
					<key>word</key>
					<string>金</string>
					<key>audio_path</key>
					<string>jin1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>yín</string>
					<key>word</key>
					<string>银</string>
					<key>audio_path</key>
					<string>yin2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>bái</string>
					<key>word</key>
					<string>白</string>
					<key>audio_path</key>
					<string>bai2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>huī</string>
					<key>word</key>
					<string>灰</string>
					<key>audio_path</key>
					<string>hui1.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>xīng</string>
					<key>word</key>
					<string>星</string>
					<key>audio_path</key>
					<string>xing1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>yún</string>
					<key>word</key>
					<string>云</string>
					<key>audio_path</key>
					<string>yun2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>tài</string>
					<key>word</key>
					<string>太</string>
					<key>audio_path</key>
					<string>tai4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>yáng</string>
					<key>word</key>
					<string>阳</string>
					<key>audio_path</key>
					<string>yang2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>hóng</string>
					<key>word</key>
					<string>红</string>
					<key>audio_path</key>
					<string>hong2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>chéng</string>
					<key>word</key>
					<string>橙</string>
					<key>audio_path</key>
					<string>cheng2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>lán</string>
					<key>word</key>
					<string>蓝</string>
					<key>audio_path</key>
					<string>lan2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>fěn</string>
					<key>word</key>
					<string>粉</string>
					<key>audio_path</key>
					<string>fen3.mp3</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>k2</key>
	<array>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>mèi</string>
					<key>word</key>
					<string>妹</string>
					<key>audio_path</key>
					<string>mei4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>gē</string>
					<key>word</key>
					<string>哥</string>
					<key>audio_path</key>
					<string>ge1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>dì</string>
					<key>word</key>
					<string>弟</string>
					<key>audio_path</key>
					<string>di4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>yé</string>
					<key>word</key>
					<string>爷</string>
					<key>audio_path</key>
					<string>ye2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>xiào</string>
					<key>word</key>
					<string>笑</string>
					<key>audio_path</key>
					<string>xiao4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>bǐ</string>
					<key>word</key>
					<string>笔</string>
					<key>audio_path</key>
					<string>bi3.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>huá</string>
					<key>word</key>
					<string>华</string>
					<key>audio_path</key>
					<string>hua2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>wén</string>
					<key>word</key>
					<string>文</string>
					<key>audio_path</key>
					<string>wen2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>jù</string>
					<key>word</key>
					<string>具</string>
					<key>audio_path</key>
					<string>ju4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>xiě</string>
					<key>word</key>
					<string>写</string>
					<key>audio_path</key>
					<string>xie3.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>zì</string>
					<key>word</key>
					<string>字</string>
					<key>audio_path</key>
					<string>zi4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>xué</string>
					<key>word</key>
					<string>学</string>
					<key>audio_path</key>
					<string>xue2.mp3</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>p1</key>
	<array>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>fēi</string>
					<key>word</key>
					<string>飞</string>
					<key>audio_path</key>
					<string>fei1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>kuài</string>
					<key>word</key>
					<string>快</string>
					<key>audio_path</key>
					<string>kuai4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>lè</string>
					<key>word</key>
					<string>乐</string>
					<key>audio_path</key>
					<string>le4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>qǐ</string>
					<key>word</key>
					<string>起</string>
					<key>audio_path</key>
					<string>qi3.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>lǎo</string>
					<key>word</key>
					<string>老</string>
					<key>audio_path</key>
					<string>lao3.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>shī</string>
					<key>word</key>
					<string>师</string>
					<key>audio_path</key>
					<string>shi1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>jù</string>
					<key>word</key>
					<string>句</string>
					<key>audio_path</key>
					<string>ju4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>dào</string>
					<key>word</key>
					<string>到</string>
					<key>audio_path</key>
					<string>dao4.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>duì</string>
					<key>word</key>
					<string>对</string>
					<key>audio_path</key>
					<string>dui4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>miàn</string>
					<key>word</key>
					<string>面</string>
					<key>audio_path</key>
					<string>mian4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>sòng</string>
					<key>word</key>
					<string>送</string>
					<key>audio_path</key>
					<string>song4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>gěi</string>
					<key>word</key>
					<string>给</string>
					<key>audio_path</key>
					<string>ji3.mp3</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>p2</key>
	<array>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>fā</string>
					<key>word</key>
					<string>发</string>
					<key>audio_path</key>
					<string>fa1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>chē</string>
					<key>word</key>
					<string>车</string>
					<key>audio_path</key>
					<string>che1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>chàng</string>
					<key>word</key>
					<string>唱</string>
					<key>audio_path</key>
					<string>chang4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>gē</string>
					<key>word</key>
					<string>歌</string>
					<key>audio_path</key>
					<string>ge1.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>yuán</string>
					<key>word</key>
					<string>园</string>
					<key>audio_path</key>
					<string>yuan2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>zhàn</string>
					<key>word</key>
					<string>站</string>
					<key>audio_path</key>
					<string>zhan4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>pāi</string>
					<key>word</key>
					<string>拍</string>
					<key>audio_path</key>
					<string>pai1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>jiào</string>
					<key>word</key>
					<string>叫</string>
					<key>audio_path</key>
					<string>jiao4.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>cài</string>
					<key>word</key>
					<string>菜</string>
					<key>audio_path</key>
					<string>cai4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>fàn</string>
					<key>word</key>
					<string>饭</string>
					<key>audio_path</key>
					<string>fan4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>yè</string>
					<key>word</key>
					<string>叶</string>
					<key>audio_path</key>
					<string>ye4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>mǐ</string>
					<key>word</key>
					<string>米</string>
					<key>audio_path</key>
					<string>mi3.mp3</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>hard</key>
	<array>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>cān</string>
					<key>word</key>
					<string>参</string>
					<key>audio_path</key>
					<string>can1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>guān</string>
					<key>word</key>
					<string>观</string>
					<key>audio_path</key>
					<string>guan1.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>pàng</string>
					<key>word</key>
					<string>胖</string>
					<key>audio_path</key>
					<string>pang4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>luàn</string>
					<key>word</key>
					<string>乱</string>
					<key>audio_path</key>
					<string>luan4.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>qí</string>
					<key>word</key>
					<string>奇</string>
					<key>audio_path</key>
					<string>qi2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>qiǎng</string>
					<key>word</key>
					<string>抢</string>
					<key>audio_path</key>
					<string>qiang3.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>zhù</string>
					<key>word</key>
					<string>祝</string>
					<key>audio_path</key>
					<string>zhu4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>zài</string>
					<key>word</key>
					<string>再</string>
					<key>audio_path</key>
					<string>zai4.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<array>
				<dict>
					<key>pinyin</key>
					<string>qiáo</string>
					<key>word</key>
					<string>桥</string>
					<key>audio_path</key>
					<string>qiao2.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>màn</string>
					<key>word</key>
					<string>慢</string>
					<key>audio_path</key>
					<string>man4.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>nǔ</string>
					<key>word</key>
					<string>努</string>
					<key>audio_path</key>
					<string>nu3.mp3</string>
				</dict>
				<dict>
					<key>pinyin</key>
					<string>shuǎ</string>
					<key>word</key>
					<string>耍</string>
					<key>audio_path</key>
					<string>shua3.mp3</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
