<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hard</key>
	<array>
		<dict>
			<key>question</key>
			<string>忄</string>
			<key>word</key>
			<string>快</string>
			<key>sound</key>
			<string>kuai4.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>夬</string>
				<string>大</string>
				<string>小</string>
				<string>鸟</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>礻</string>
			<key>word</key>
			<string>祝</string>
			<key>sound</key>
			<string>zhu4.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>手</string>
				<string>兄</string>
				<string>天</string>
				<string>雨</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>土</string>
			<key>word</key>
			<string>坦</string>
			<key>sound</key>
			<string>tan3.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>土</string>
				<string>旦</string>
				<string>马</string>
				<string>小</string>
			</array>
		</dict>
	</array>
	<key>k1</key>
	<array>
		<dict>
			<key>question</key>
			<string>女</string>
			<key>word</key>
			<string>妈</string>
			<key>sound</key>
			<string>ma1.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>人</string>
				<string>马</string>
				<string>男</string>
				<string>大</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>亻</string>
			<key>word</key>
			<string>你</string>
			<key>sound</key>
			<string>ni3.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>尔</string>
				<string>人</string>
				<string>女</string>
				<string>天</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>女</string>
			<key>word</key>
			<string>妹</string>
			<key>sound</key>
			<string>mei4.mp3</string>
			<key>answer</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>小</string>
				<string>哥</string>
				<string>未</string>
				<string>爸</string>
			</array>
		</dict>
	</array>
	<key>k2</key>
	<array>
		<dict>
			<key>question</key>
			<string>讠</string>
			<key>word</key>
			<string>读</string>
			<key>sound</key>
			<string>du2.mp3</string>
			<key>answer</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>女</string>
				<string>男</string>
				<string>卖</string>
				<string>买</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>子</string>
			<key>word</key>
			<string>孩</string>
			<key>sound</key>
			<string>hai2.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>options</key>
			<array>
				<string>人</string>
				<string>天</string>
				<string>青</string>
				<string>亥</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>目</string>
			<key>word</key>
			<string>眼</string>
			<key>sound</key>
			<string>yan3.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>options</key>
			<array>
				<string>人</string>
				<string>天</string>
				<string>小</string>
				<string>艮</string>
			</array>
		</dict>
	</array>
	<key>p1</key>
	<array>
		<dict>
			<key>question</key>
			<string>纟</string>
			<key>word</key>
			<string>红</string>
			<key>sound</key>
			<string>hong2.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>工</string>
				<string>化</string>
				<string>黄</string>
				<string>小</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>氵</string>
			<key>word</key>
			<string>清</string>
			<key>sound</key>
			<string>qing1.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>options</key>
			<array>
				<string>小</string>
				<string>大</string>
				<string>天</string>
				<string>青</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>扌</string>
			<key>word</key>
			<string>打</string>
			<key>sound</key>
			<string>da3.mp3</string>
			<key>answer</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>丁</string>
				<string>关</string>
				<string>手</string>
				<string>小</string>
			</array>
		</dict>
	</array>
	<key>p2</key>
	<array>
		<dict>
			<key>question</key>
			<string>彳</string>
			<key>word</key>
			<string>很</string>
			<key>sound</key>
			<string>hen3.mp3</string>
			<key>answer</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>小</string>
				<string>艮</string>
				<string>了</string>
				<string>买</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>宀</string>
			<key>word</key>
			<string>字</string>
			<key>sound</key>
			<string>zi4.mp3</string>
			<key>answer</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>人</string>
				<string>大</string>
				<string>子</string>
				<string>了</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>木</string>
			<key>word</key>
			<string>校</string>
			<key>sound</key>
			<string>xiao4.mp3</string>
			<key>answer</key>
			<integer>4</integer>
			<key>options</key>
			<array>
				<string>了</string>
				<string>天</string>
				<string>小</string>
				<string>交</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
