<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hard</key>
	<array>
		<dict>
			<key>question</key>
			<string>11</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>12</string>
					<key>sound</key>
					<string>sen1.mp3</string>
					<key>word</key>
					<string>森</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>10</string>
					<key>sound</key>
					<string>jie4.mp3</string>
					<key>word</key>
					<string>借</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>15</string>
					<key>sound</key>
					<string>qu4.mp3</string>
					<key>word</key>
					<string>趣</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>11</string>
					<key>sound</key>
					<string>qing2.mp3</string>
					<key>word</key>
					<string>情</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>8</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>lin2.mp3</string>
					<key>word</key>
					<string>林</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>bei4.mp3</string>
					<key>word</key>
					<string>背</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>nian4.mp3</string>
					<key>word</key>
					<string>念</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>13</string>
					<key>sound</key>
					<string>lu4.mp3</string>
					<key>word</key>
					<string>路</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>8</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>jing1.mp3</string>
					<key>word</key>
					<string>经</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>gai1.mp3</string>
					<key>word</key>
					<string>该</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>gang1.mp3</string>
					<key>word</key>
					<string>刚</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>ke4.mp3</string>
					<key>word</key>
					<string>客</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>k1</key>
	<array>
		<dict>
			<key>question</key>
			<string>2</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>2</string>
					<key>sound</key>
					<string>jiu3.mp3</string>
					<key>word</key>
					<string>九</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>2</string>
					<key>sound</key>
					<string>qi1.mp3</string>
					<key>word</key>
					<string>七</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>liu4.mp3</string>
					<key>word</key>
					<string>六</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>si4.mp3</string>
					<key>word</key>
					<string>四</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>4</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>wu3.mp3</string>
					<key>word</key>
					<string>五</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>2</string>
					<key>sound</key>
					<string>ba1.mp3</string>
					<key>word</key>
					<string>八</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>yun2.mp3</string>
					<key>word</key>
					<string>云</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>tian1.mp3</string>
					<key>word</key>
					<string>天</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>3</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>3</string>
					<key>sound</key>
					<string>xiao3.mp3</string>
					<key>word</key>
					<string>小</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>3</string>
					<key>sound</key>
					<string>da4.mp3</string>
					<key>word</key>
					<string>大</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>bu4.mp3</string>
					<key>word</key>
					<string>不</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>shou3.mp3</string>
					<key>word</key>
					<string>手</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>k2</key>
	<array>
		<dict>
			<key>question</key>
			<string>7</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>fang1.mp3</string>
					<key>word</key>
					<string>方</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>mu4.mp3</string>
					<key>word</key>
					<string>目</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>jiao3.mp3</string>
					<key>word</key>
					<string>角</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>xing2.mp3</string>
					<key>word</key>
					<string>形</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>9</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>11</string>
					<key>sound</key>
					<string>mao1.mp3</string>
					<key>word</key>
					<string>猫</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>gou3.mp3</string>
					<key>word</key>
					<string>狗</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>shi1.mp3</string>
					<key>word</key>
					<string>狮</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>11</string>
					<key>sound</key>
					<string>zhu1.mp3</string>
					<key>word</key>
					<string>猪</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>4</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>se4.mp3</string>
					<key>word</key>
					<string>色</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>bao1.mp3</string>
					<key>word</key>
					<string>包</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>shu1.mp3</string>
					<key>word</key>
					<string>书</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>wen2.mp3</string>
					<key>word</key>
					<string>文</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>p1</key>
	<array>
		<dict>
			<key>question</key>
			<string>9</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>yao4.mp3</string>
					<key>word</key>
					<string>要</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>10</string>
					<key>sound</key>
					<string>xiao4.mp3</string>
					<key>word</key>
					<string>校</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>da3.mp3</string>
					<key>word</key>
					<string>打</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>shen1.mp3</string>
					<key>word</key>
					<string>身</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>5</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>men2.mp3</string>
					<key>word</key>
					<string>们</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>10</string>
					<key>sound</key>
					<string>jia1.mp3</string>
					<key>word</key>
					<string>家</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>ti3.mp3</string>
					<key>word</key>
					<string>体</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>ke3.mp3</string>
					<key>word</key>
					<string>可</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>9</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>8</string>
					<key>sound</key>
					<string>yu3.mp3</string>
					<key>word</key>
					<string>雨</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>hong2.mp3</string>
					<key>word</key>
					<string>红</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>song4.mp3</string>
					<key>word</key>
					<string>送</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>9</string>
					<key>sound</key>
					<string>ji3.mp3</string>
					<key>word</key>
					<string>给</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>p2</key>
	<array>
		<dict>
			<key>question</key>
			<string>6</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>mai3.mp3</string>
					<key>word</key>
					<string>买</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>mie4.mp3</string>
					<key>word</key>
					<string>灭</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>rou4.mp3</string>
					<key>word</key>
					<string>肉</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>zhao3.mp3</string>
					<key>word</key>
					<string>找</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>6</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>ye2.mp3</string>
					<key>word</key>
					<string>爷</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>6</string>
					<key>sound</key>
					<string>nian2.mp3</string>
					<key>word</key>
					<string>年</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>cong2.mp3</string>
					<key>word</key>
					<string>从</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>3</string>
					<key>sound</key>
					<string>xi2.mp3</string>
					<key>word</key>
					<string>习</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>7</string>
			<key>options</key>
			<array>
				<dict>
					<key>bihua</key>
					<string>5</string>
					<key>sound</key>
					<string>bian1.mp3</string>
					<key>word</key>
					<string>边</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>zuo4.mp3</string>
					<key>word</key>
					<string>坐</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>7</string>
					<key>sound</key>
					<string>tiao2.mp3</string>
					<key>word</key>
					<string>条</string>
				</dict>
				<dict>
					<key>bihua</key>
					<string>4</string>
					<key>sound</key>
					<string>yi3.mp3</string>
					<key>word</key>
					<string>以</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
