<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>人来人往</string>
		<string>井底之蛙</string>
		<string>坐井观天</string>
		<string>爱莫能助</string>
		<string>神色一晃</string>
		<string>辅助材料</string>
		<string>否极泰来</string>
		<string>落荒而逃</string>
		<string>更加厉害</string>
		<string>收集完毕</string>
		<string>夜色朦朦</string>
		<string>别样精彩</string>
		<string>法力全开</string>
		<string>声势浩大</string>
		<string>星光闪闪</string>
		<string>大战爆发</string>
		<string>为时已晚</string>
		<string>懊恼至极</string>
	</array>
</array>
</plist>
